#background {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5e/Water_drop_001.jpg');
    /*
     * Image credits
     * José Manuel Suárez, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons
     */
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    margin: 0px;
    color: white;
    font-family: Georgia;
}

h1 {
    margin-top: 0px;
    font-size: 200%;
    padding-top: 2%;
}

#input {
    margin-top: 17%;
}

input {
    margin-top: 10px;
    width: 500px;
}

.expo-text {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}