#background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body {
    margin: 0px;
    font-family: Georgia;
}

h1 {
    margin-top: 0px;
    font-size: 200%;
    padding-top: 2%;
}

#input {
    margin-top: 17%;
}

input {
    margin-top: 10px;
    width: 500px;
}

.expo-text {
    font-size: 20px;
}

.example-text {
    font-size: 13px;
}

