<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Aquatify.cc</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="A free online web application that collects user data/information and then provides clear insight into how to adjust the daily human consumption of water to optimal amounts to reduce environmental impacts." />
	<!-- //Meta tag Keywords -->
	<link href="//fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
	<!--/Style-CSS -->
	<link rel="stylesheet" href="static/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	 <section class="aq-workinghny-form">
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <img src='/static/logos/left-side-icon-text.png'></img>
                </div>
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end">
                        <img src="static/images/water.png" class="img-responsive" alt="img" />
                    </div>
                    <div class="form-right-inf">
						
                        <div class="login-form-content">
                            <form action="#" class="signin-form" method="post">
								<div class="one-frm">
                                    <p class="provide">Provide us with some information about your daily water consumption, then hit enter.</p>
                                    <br>
                                    <label>e.g "I drink 3 liters of water daily."</label>
                                    <form method="POST" autocomplete="off">
                                        <input name="anything"  placeholder="" required="">
                                    </form>
                                    <label class="provide">{{advice}}</label>
                                    <br>
                                    <label>{{desc}}</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">© 2020 Aquatify.cc | All rights reserved. </p>
            </div>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->

</body>

</html>