<html>
<head>
    <title>Aquatify</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/ico" href="static/logos/favicon.ico"/>
</head>

<body>
    <div id="background">
		<a href="/">
        <img src='/static/logos/left-side-icon-text.png'></img>
		</a>
		<div id="input">
            <label class="expo-text">Provide us with some information about your daily water consumption.</label>
            <br>
            <label class="example-text">e.g "I drink 3 liters of water daily."</label>
            <br>
            <br>
            <form method="POST" autocomplete="off">
                <input name="anything">
            </form>
            <br>
            <label class="expo-text">{{advice}}</label>
            <br>
            <label class="example-text">{{desc}}</label>
        </div>
    </div>
</body>

</html>