body {
    font-family: 'Roboto';
    overflow-y: scroll;
}

#main-title {
    text-align: center;
    font-family: 'Oxygen';
    letter-spacing: 2px;
    cursor: pointer;
}

.grid {
    display: grid;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

#left-fill {
    grid-column: 1;
    width: 400px;
}

#right-fill {
    grid-column: 4;
    width: 400px;
}

.fill {
    background-color: #f9f9f9;;
}

.about {
    grid-column: 2;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.main {
    grid-column: 3;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

input {

}

button {
    background-color: white;
    font-size: 30px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
